isort
jsonlines
loralib
optimum
packaging
ray[default]
tensorboard
tqdm
transformers==4.46.1
accelerate
datasets
peft
torchmetrics
flash-attn==2.6.1
bitsandbytes
einops
deepspeed==0.15.0
transformers_stream_generator
wandb
wheel
vllm==0.6.5
word2number
latex2sympy2
timeout_decorator